.topnav {
    background-color: rgb(240, 238, 234);
    overflow: hidden;
    height: 2.7rem;
    border-width: 1px;
  }  

  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  