<div id="row">
    <div id="background">

        <section id="section1">
            <section class="card">
                Smriti Shriniwas Mandhana. Born 18 July 1996. is an Indian cricketer who plays for the Indian women's
                national team.[3][4] In June 2018, the Board of Control for Cricket in India (BCCI) named her as the
                Best Women's International Cricketer.[5] In December 2018, the International Cricket Council (ICC)
                awarded her with the Rachael Heyhoe-Flint Award for the best female cricketer of the year.[6] On 30
                December 2021, she became a nominee of the ICC Women's T20 Player of the Year.[7] In December 2021, she,
                Tammy Beaumont, Lizelle Lee and Gaby Lewis was nominated for the ICC Women's Cricketer of the Year.[8]
                In January 2022, the ICC awarded her with the Rachael Heyhoe-Flint Award for the ICC Women's Cricketer
                of the Year.
            </section>

            <div class="image-profile"
                style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:396px;">
                <div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.com/detail/1233465650"
                        target="_blank"
                        style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed
                        from Getty Images</a></div>
                <div style="overflow:hidden;position:relative;height:0;padding:150% 0 0 0;width:100%;"><iframe
                        src="//embed.gettyimages.com/embed/1233465650?et=DmLGqwm1TMZp4f1tz5v38Q&tld=com&sig=j1uMZEpxYSBULVMiAWzIUfRaiLT-7NXMrJHoFW9tEso=&caption=true&ver=1"
                        scrolling="no" frameborder="0" width="396" height="594"
                        style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe>
                </div>
            </div>


        </section>



        <section class="space"></section>

        <div class="getty embed image"
            style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:395px;">
            <div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.com/detail/1344198879"
                    target="_blank"
                    style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed
                    from Getty Images</a></div>
            <div style="overflow:hidden;position:relative;height:0;padding:150.37975% 0 0 0;width:100%;"><iframe
                    src="//embed.gettyimages.com/embed/1344198879?et=NNAlWpNZQoRbj9Fi9-DDEQ&tld=com&sig=aiVk28jrQ8wjIJDQuPk6KPypSVyx9eRMekM2De2eDhw=&caption=true&ver=1"
                    scrolling="no" frameborder="0" width="395" height="594"
                    style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe>
            </div>
        </div>
        <section class="space"></section>


        <div class="getty embed image"
            style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:594px;">
            <div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.com/detail/1070139450"
                    target="_blank"
                    style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed
                    from Getty Images</a></div>
            <div style="overflow:hidden;position:relative;height:0;padding:65.65657% 0 0 0;width:100%;"><iframe
                    src="//embed.gettyimages.com/embed/1070139450?et=H8h7vmglSrd5mXf3haxdOw&tld=com&sig=ck_xD5EZsU251juOfx13o81_DqAWac4FmdedexqmKic=&caption=true&ver=1"
                    scrolling="no" frameborder="0" width="594" height="390"
                    style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe>
            </div>
        </div>

    </div>

    <div id="ad"></div>
</div>